include templates/head.jade
body
  h1 Hi from Pug/Jade
  h2 #{data.message}
  .row.row--spaced
    .col.s12.m6.l4
      h2 The best things about Canada
    .col.s12.m6.l4.centre
      h2 Cool stuff about the universe
  include templates/scripts.jade
